QQBOT_APP_ID=your_app_id
QQBOT_APP_SECRET=your_app_secret
QQBOT_SANDBOX=true
QQBOT_FAQ_PATH=config/faq.yaml
# 笔记根目录
NOTE_ROOT=C:\Users\test\Desktop\study\study
AUTH_CONFIG_PATH=config/auth.yaml
BOT_OWNER_USER_IDS=user_id_1,user_id_2
FEATURE_NAMES_PATH=config/features.yaml
COC_API_TOKEN=your_token
# 部落冲突开发者API Token 在官网`developer.clashofclans.com`申请
COC_TRANSLATIONS_PATH=config/coc_translations.yaml
